---
layout: default
title: Conference Talks & Podcasts
permalink: /conference-talks/
---

<div class="text-base md:text-lg font-sans">
  <h3 class="text-2xl md:text-3xl font-black text-center pt-10">
    Conference Talks & Podcasts
  </h3>
  <section class="bg-white py-5 md:py-10 px-16 md:px-32 lg:px-56">
    <h1 class="font-bold pt-16 py-6 text-xl">CONFERENCE TALKS</h1>
    {% for entity in site.data.conference_talks.conferences %}
    <p class="font-medium text-slate-500 py-8 text-lg">{{ entity.year }}</p>
    <ul>
      {% for conference in entity.data %}
      <li class="pb-3">
        <p>{{ conference.name }}</p>
        {% for talk in conference.talks %}
        <p class="text-slate-600 font-light">
          {{ talk.title }} {% for item in site.data.conferences.miscellaneous %}
          {% if talk[item] %}|
          <a
            href="{{ talk[item] }}"
            class="hover:underline hover:decoration-4 hover:decoration-purple-400 text-slate-400"
            >{{ item }}</a
          >{% endif %} {% endfor %}
        </p>
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
    <h2 class="font-bold pt-16 py-6 text-xl">PODCASTS</h2>
    <ul>
      {% for entity in site.data.conference_talks.podcasts %}
      <li class="pb-3">
        <p>{{ entity.name }}</p>
        {% for podcast in entity.data %}
        <p class="text-slate-600 font-light">
          <a
            href="{{ podcast.link }}"
            class="hover:underline hover:decoration-4 hover:decoration-purple-400"
            >{{ podcast.title }}</a
          >
        </p>
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
  </section>
</div>

<script>
  $(".main").removeClass("bg-gradient-purple-darkest-to-light");
  $(".navbar-item").removeClass("text-white");
  $("#flyte-logo-on-light-bg").css("display", "block");
  $("#flyte-svg-mobile").css("display", "none");
  $("#flyte-svg-main").css("display", "none");
  $("#lfaidata-main").css("display", "none");
  $("#lfaidata-light-bg").css("display", "block");
  $("#nav-svg").css("fill", "#000000");
</script>
