</div><!--/main-->
<footer class="flex items-center justify-center bg-purple-black font-body">
  <div class="container p-8 py-8 sm:py-16 md:py-20 lg:py-24 sm:px-0 text-white">
    <div class="flex flex-wrap sm:flex-no-wrap mb-4">
      <div class="w-full sm:w-full md:w-1/2 lg:w-4/6 h-auto">
          <div class="mb-6 sm:mb-8 lg:mb-10 font-mono font-bold text-3xl leading-tight">Ready To Take Flyte?</div>
          <a href="{{ site.getstarted }}" class="btn bg-white text-purple-darkest hover:bg-pink hover:text-purple-black">Get Started</a>
      </div>
      <div class="w-1/2 sm:w-1/2 md:w-1/4 lg:w-1/6 h-auto sm:mt-0 mt-8">
          <div class="mb-2 text-body font-bold uppercase">Site</div>
          <ul class="list-reset text-base leading-normal">
              <li class="my-2"><a class="link-white hover:border-purple-lightest" href="{{ site.documentation }}">Documentation</a></li>
              <li class="my-2"><a class="link-white hover:border-purple-lightest" href="{{ site.github }}">GitHub</a></li>
              <li class="my-2"><a class="link-white hover:border-purple-lightest" href="{{ site.stackoverflow }}">StackOverflow</a></li>
          </ul>
      </div>
      <div class="w-1/2 sm:w-1/2 md:w-1/4 lg:w-1/6 h-auto sm:mt-0 mt-8 pl-4">
          <div class="mb-2 text-body font-bold uppercase">Social</div>
          <ul class="list-reset text-base leading-normal">
              <li class="my-2"><a class="link-white hover:border-purple-lightest" href="{{ site.community }}">Slack</a></li>
              <li class="my-2"><a class="link-white hover:border-purple-lightest" href="{{ site.github }}">GitHub</a></li>
          </ul>
      </div>
    </div>
    <div class="flex flex-wrap sm:flex-no-wrap mb-4 mt-4 md:mt-8 lg:mt-mt-10">
      <div class="w-full sm:w-1/2 lg:w-4/6 h-auto text-pink">Created and shared with ❤️ by Lyft</div>
      <div class="w-full sm:w-1/2 lg:w-2/6 text-base text-pink">2019 © Flyte Project Authors. All rights reserved.</div>
    </div>
  </div><!--/container-->
</footer>
</body>
</html>
