<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Flyte</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ "/assets/css/style.css, " | prepend: site.baseurl }}" />
  <meta
    name="google-site-verification"
    content="w0DQ8-NJDgkQKJBlk8Som0w0qdJvzwWhUYmh9iE9t8o"
  />
  <meta
    name="description"
    content="Flyte enables production-grade orchestration for machine learning workflows and data processing created to accelerate local workflows to production."
  />
  <link rel="shortcut icon" type="image/png" href="favicon.png" />
  <!--<script type="text/javascript" src="/assets/js/script.js?1574270333379684000"></script>-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
