<!DOCTYPE html>
<html class="no-js" lang="en-US">
  {% seo title=false %} {% include header.html %}

  <body>
    <div class="main overflow-x-hidden bg-gradient-purple-darkest-to-light">
      {% include navbar.html %}

      <!--Modal-->
      <div
        class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
        id="slackmodal"
      >
        <div class="relative w-auto my-6 mx-auto max-w-xs md:max-w-xl">
          <!--content-->
          <div
            class="border-0 rounded-xl shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
          >
            <!--header-->
            <div
              class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t m-auto"
            >
              <img src="{{ "/assets/images/slack_RGB.svg" | prepend: site.url
              }}" width="230px">
            </div>
            <!--body-->
            <div class="relative p-6 flex-auto text-center">
              <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                Join us on Slack to learn more about Flyte, ask questions, or
                just say hi!
              </p>
              <button
                class="bg-purple-darkest active:bg-emerald-600 font-bold text-white text-md px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
              >
                <a
                  href="https://slack.flyte.org/"
                  target="_blank"
                  class="slack-cta"
                >
                  Join Flyte Slack
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="hidden opacity-40 fixed inset-0 z-40 bg-black"
        id="slackmodal-backdrop"
      ></div>

      <main>{{ content }}</main>
    </div>
    {% include footer.html %}
  </body>

  <script>
    if (localStorage.getItem("stars") === null) {
      const now = new Date();
      fetch("https://api.github.com/repos/flyteorg/flyte")
        .then((response) => response.json())
        .then((data) => {
          document.getElementById("github-stars").innerHTML =
            data.stargazers_count;
          localStorage.setItem(
            "stars",
            JSON.stringify({
              value: data.stargazers_count,
              expiry: now.getTime() + 3600000,
            })
          );
        });
    } else {
      const itemStr = localStorage.getItem("stars");
      const item = JSON.parse(itemStr);
      document.getElementById("github-stars").innerHTML = item.value;
      const now = new Date();
      // compare the expiry time of the item with the current time
      if (now.getTime() > item.expiry) {
        // If the item is expired, delete the item from storage
        // and return null
        localStorage.removeItem("stars");
      }
    }

    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("flex");
    }

    function changeActiveTab(event, tabID) {
      let element = event.target;
      while (element.nodeName !== "A") {
        element = element.parentNode;
      }
      ulElement = element.parentNode.parentNode;
      aElements = ulElement.querySelectorAll("li > a");
      tabContents = document
        .getElementById("tabs-id")
        .querySelectorAll(".tab-content > div");
      for (let i = 0; i < aElements.length; i++) {
        aElements[i].classList.remove("text-white");
        aElements[i].classList.remove("code-option-bg");
        aElements[i].classList.add("bg-white");
        tabContents[i].classList.add("hidden");
        tabContents[i].classList.remove("block");
      }
      element.classList.remove("bg-white");
      element.classList.add("text-white");
      element.classList.add("code-option-bg");
      document.getElementById(tabID).classList.remove("hidden");
      document.getElementById(tabID).classList.add("block");
    }

    // carousel at top of the main page
    var mediaCarousel = $("#media-carousel");
    mediaCarousel.owlCarousel({
      loop: true,
      margin: 10,
      autoplayTimeout: 10000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
          autoplay: true,
        },
        600: {
          items: 2,
          autoplay: true,
        },
        1000: {
          items: 3,
          autoplay: true,
        },
        1800: {
          items: 4,
          autoplay: false,
        },
      },
    });
    $(".play").on("click", function () {
      mediaCarousel.trigger("play.owl.autoplay", [2000]);
    });
    $(".stop").on("click", function () {
      mediaCarousel.trigger("stop.owl.autoplay");
    });

    /**
     * Feature showcase carousel
     * @TODO: We are temporarily disabling the slides. Instead we will combine all
     * video content into one slide; disable navigation, disable autoplay.
     */
    const featureTimeout = 90000;
    const featureCarousel = $("#feature-carousel");
    let featureCurrentIndex = 1;
    let featureDebounce = null;

    featureCarousel
      .owlCarousel({
        loop: true,
        items: 1,
        margin: 10,
        autoplayTimeout: false,
        dots: false,
        responsive: {
          0: {
            items: 1,
            autoplay: false,
          },
        },
      })
      .on("changed.owl.carousel", function (event) {});

    // carousel for the top banner
    var bannerCarousel = $("#banner-carousel");
    bannerCarousel.owlCarousel({
      loop: true,
      margin: 10,
      autoplayTimeout: 10000,
      items: 1,
      autoplay: true,
      dots: false,
      nav: false,
      autoHeight: true,
      navText: [
        "<i class='fa fa-chevron-left'></i>",
        "<i class='fa fa-chevron-right'></i>",
      ],
    });
    $(".play").on("click", function () {
      bannerCarousel.trigger("play.owl.autoplay", [10000]);
    });
    $(".stop").on("click", function () {
      bannerCarousel.trigger("stop.owl.autoplay");
    });

    // load navText after 2 seconds
    setTimeout(function () {
      var carouselData = bannerCarousel.data();
      var carouselOptions = carouselData["owl.carousel"].options;
      carouselOptions.nav = true;
      bannerCarousel.trigger("refresh.owl.carousel");
    }, 2000);

    // testimonials carousel
    var testimonialsCarousel = $("#testimonials-carousel");
    testimonialsCarousel.owlCarousel({
      items: 1,
      loop: true,
      margin: 10,
      autoplayTimeout: 10000,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1,
          autoplay: true,
        },
      },
    });
    $(".feature-video").on("");
    $(".play").on("click", function () {
      testimonialsCarousel.trigger("play.owl.autoplay", [2000]);
    });
    $(".stop").on("click", function () {
      testimonialsCarousel.trigger("stop.owl.autoplay");
    });

    // metrics counter
    let metricCounter = (elementId, counterParams) => {
      let element = document.getElementById(elementId);
      let count = 0;
      let counter = () => {
        count += counterParams["increment"];
        if (count <= counterParams["total"]) {
          element.innerHTML = count.toLocaleString();
        } else {
          clearInterval(intervalId);
        }
      };
      var intervalId = setInterval(counter, 10);
    };

    // animations in the differentiators section
    let callback = (entries, observer) => {
      entries.forEach((entry) => {
        // Each entry describes an intersection change for one observed
        // target element:
        //   entry.boundingClientRect
        //   entry.intersectionRatio
        //   entry.intersectionRect
        //   entry.isIntersecting
        //   entry.rootBounds
        //   entry.target
        //   entry.time
        if (entry.isIntersecting) {
          entry.target.classList.add("animate-fadeIn");

          if (
            entry.target.id.startsWith("metric-") &&
            !entry.target.classList.contains("metric-counter-complete")
          ) {
            let counterParams = {
              "metric-users": { total: 500, increment: 1 },
              "metric-executions": { total: 1000000, increment: 2000 },
              "metric-tasks": { total: 20000000, increment: 40000 },
              "metric-containers": { total: 40000000, increment: 80000 },
            }[entry.target.id];

            metricCounter(entry.target.id, counterParams);
            entry.target.classList.add("metric-counter-complete");
          }
        }
      });
    };

    let options = {
      root: document.querySelector(".main"),
      threshold: 1.0,
    };
    let observer = new IntersectionObserver(callback);
    const targets = document.querySelectorAll(".js-show-on-scroll");
    targets.forEach(function (target) {
      target.classList.add("opacity-0");
      observer.observe(target);
    });

    const metricsTargets = document.querySelectorAll(".metric");
    metricsTargets.forEach(function (target) {
      target.classList.add("opacity-0");
      observer.observe(target);
    });

    function toggleModal(modalID) {
      document.getElementById(modalID).classList.toggle("hidden");
      document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
      document.getElementById(modalID).classList.toggle("flex");
      document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }

    // Get/Set cookie when user visits the page
    // Show Slack modal if user has not visited the page before
    $(document).ready(function () {
      if (Cookies.get("visited") == null) {
        setTimeout(function () {
          toggleModal("slackmodal");
          Cookies.set("visited", true, { expires: 182, secure: true });
        }, 120000); // 2 minutes
      }
      $("#hero-title").animate({ opacity: 1 });
      $("#github-stars").animate({ opacity: 1 });
      $(".nav-item").delay(1000).fadeIn(600);
    });

    let modal = document.getElementById("slackmodal");
    window.onclick = function (event) {
      if (event.target == modal) {
        toggleModal("slackmodal");
      }
    };
  </script>
</html>
