<!DOCTYPE html>
<html class="no-js" lang="en-US">
  {% seo title=false %} {% include header.html %}

  <link href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap' rel='stylesheet' type='text/css'>

  <body>
    <div class="main overflow-x-hidden bg-gradient-purple-darkest-to-light">
      {% include navbar.html %}
      <main>{{ content }}</main>
    </div>
    {% include footer.html %}
  </body>

  <script>
    fetch("https://api.github.com/repos/flyteorg/flyte")
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("github-stars").innerHTML =
          data.stargazers_count;
      });

    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("flex");
    }

    function changeActiveTab(event, tabID) {
      let element = event.target;
      while (element.nodeName !== "A") {
        element = element.parentNode;
      }
      ulElement = element.parentNode.parentNode;
      aElements = ulElement.querySelectorAll("li > a");
      tabContents = document
        .getElementById("tabs-id")
        .querySelectorAll(".tab-content > div");
      for (let i = 0; i < aElements.length; i++) {
        aElements[i].classList.remove("text-white");
        aElements[i].classList.remove("code-option-bg");
        aElements[i].classList.add("code-option-text");
        aElements[i].classList.add("bg-white");
        tabContents[i].classList.add("hidden");
        tabContents[i].classList.remove("block");
      }
      element.classList.remove("code-option-text");
      element.classList.remove("bg-white");
      element.classList.add("text-white");
      element.classList.add("code-option-bg");
      document.getElementById(tabID).classList.remove("hidden");
      document.getElementById(tabID).classList.add("block");
    }

    // carousel at top of the main page
    var owl = $(".owl-carousel");
    owl.owlCarousel({
      loop: true,
      margin: 10,
      autoplayTimeout: 6000,
      autoplayHoverPause: true,
      responsiveClass: true,
      responsive: {
        0: {
          items: 1,
          autoplay: true,
        },
        600: {
          items: 2,
          autoplay: true,
        },
        1000: {
          items: 3,
        },
      },
    });
    $(".play").on("click", function () {
      owl.trigger("play.owl.autoplay", [2000]);
    });
    $(".stop").on("click", function () {
      owl.trigger("stop.owl.autoplay");
    });

    let metricCounter = (elementId, counterParams) => {
      let element = document.getElementById(elementId);
      let count = 0;
      let counter = () => {
        count += counterParams["increment"];
        if (count <= counterParams["total"]) {
          element.innerHTML = count.toLocaleString();
        } else {
          clearInterval(intervalId);
        }
      }
      var intervalId = setInterval(counter, 10);
    };

    // animations in the differentiators section
    let callback = (entries, observer) => {
      entries.forEach(entry => {
        // Each entry describes an intersection change for one observed
        // target element:
        //   entry.boundingClientRect
        //   entry.intersectionRatio
        //   entry.intersectionRect
        //   entry.isIntersecting
        //   entry.rootBounds
        //   entry.target
        //   entry.time
        if (entry.isIntersecting) {
          entry.target.classList.add("animate-fadeIn");
        }
        if (entry.target.id.startsWith("metric-") && !entry.target.classList.contains("metric-counter-complete")) {
          let counterParams = {
            "metric-users": {"total": 500, "increment": 1},
            "metric-executions": {"total": 1000000, "increment": 2000},
            "metric-tasks": {"total": 20000000, "increment": 40000},
            "metric-containers": {"total": 40000000, "increment": 80000},
          }[entry.target.id]

          metricCounter(entry.target.id, counterParams)
          entry.target.classList.add("metric-counter-complete");
        }
      });
    };

    let options = {
      root: document.querySelector(".main"),
      threshold: 1.0
    }
    let observer = new IntersectionObserver(callback);
    const targets = document.querySelectorAll(".js-show-on-scroll");
    targets.forEach(function (target) {
      // target.classList.add("opacity-0");
      observer.observe(target);
    });

    const metricsTargets = document.querySelectorAll(".metric");
    metricsTargets.forEach(function (target) {
      // target.classList.add("opacity-0");
      observer.observe(target);
    });
  </script>
</html>
