@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700");

@tailwind base;

@tailwind components;

@tailwind utilities;

@keyframes dash {
  to {
    stroke-dashoffset: 800;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes stroke-flash-purple {
  0%,
  33%,
  78%,
  100% {
    stroke: #959595;
  }
  50%,
  60% {
    stroke: #641af1;
  }
}
@keyframes left-right {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-50px);
  }
  75% {
    transform: translateX(50px);
  }
}
@keyframes right-left {
  0%,
  100% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(50px);
  }
  75% {
    transform: translateX(-50px);
  }
}
@keyframes up-down {
  0%,
  100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(-50px);
  }
}
@keyframes gradient {
  0% {
    background-position: 10% 0%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 91% 100%;
    background-size: 200% 200%;
  }
  100% {
    background-position: 10% 0%;
    background-size: 100% 100%;
  }
}
@keyframes opacity-fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.bg-gradient-purple-darkest-to-light {
  background: linear-gradient(
    180deg,
    #641bf2,
    #7f3fec,
    #9963e5,
    #b486df,
    #ceaad8,
    #e9ced2
  );
  background-size: 200% 200%;
  animation: gradient 10s normal forwards ease-in-out;
}
.bg-gradient-purple-light-to-darkest {
  background: linear-gradient(90deg, #e9ced2 8.85%, #641bf2 100%);
}

.btn {
  @apply font-body font-semibold py-3 px-4 leading-none;
}
@screen sm {
  .btn {
    @apply py-4 px-8;
  }
}
.link {
  @apply text-purple-darkest font-medium border-purple-darkest border-b;
}
.link-white {
  @apply font-semibold font-body text-white border-transparent border-b-2;
}
.stroke {
  stroke-miterlimit: 10;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
}
.stroke-dotted {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1 6;
  animation: dash 102s linear;
  animation-iteration-count: infinite;
}
.rotate {
  transform-box: fill-box;
  transform-origin: 49% 50%;
  animation: rotation 10s infinite linear;
}
.opacity-fade {
  opacity: 1;
  animation: opacity-fade 2s infinite ease-in-out;
}
.stroke-flash-purple {
  animation: stroke-flash-purple 10s infinite ease-in-out;
}
.left-right {
  animation: left-right 20s infinite ease-in-out;
}
.right-left {
  animation: right-left 20s infinite ease-in-out;
}
.up-down {
  animation: up-down 20s infinite ease-in-out;
}
.max-w-350 {
  max-width: 350px;
}
.max-w-380 {
  max-width: 380px;
}
.leading-tighter {
  line-height: 1.15;
}
.border-highlight:hover {
  text-decoration: underline;
  text-decoration-color: #e9ced2;
}
